* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  cursor: none;
}

body {
  overflow-x: hidden;
}

#crsr {
  width: 2.8vw;
  height: 2.8vw;
  border: 1px solid #ffffffa1;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

#loader {
  height: 100%;
  width: 100%;
  background-color: #030303;
  z-index: 999;
  position: fixed;
  padding: 22vh 10vw;
}

.line {
  height: fit-content;
  /* background-color: red; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
}

#line1-part1 h5 {
  width: 5vw;
}

.line h1 {
  font-size: 6.5vw;
  font-weight: 600;
  text-transform: uppercase;
}

.line h2 {
  font-size: 5vw;
  margin-left: 1vw;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes loaderAnime {
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
    scale: 1.4;
  }
  48% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
    scale: 1.4;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
    scale: 1.4;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
    scale: 1.4;
  }
}

#main {
  position: relative;
  background-color: #151515;
}

#page1 {
  height: 80vh;
  width: 100%;
  position: relative;
  z-index: 100;
  /* background-color: #151515; */
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.6vw 5vw;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 3vw;
  justify-content: center;
}

#nav-part2 h4 {
  font-size: 1.1vw;
  font-weight: 200;
}

.hero {
  /* background-color: red; */
  width: 72%;
  margin-left: 27%;
  overflow-y: hidden;
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  /* z-index: 99999; */
  /* overflow-x: auto; */
}

.hero:nth-child(3) {
  margin-top: 4vh;
}

.hero h1 {
  font-size: 7.1vw;
  line-height: 7.1vw;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}

#count {
  position: relative;
  font-family: "silk serif";
  font-size: 3.1vw;
  font-weight: 400;
  left: 20.5%;
  top: 17.5%;
}

.hero h2 {
  font-size: 7.2vw;
  line-height: 7.2vw;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 0.6vw solid #fff;
  margin-right: 6px;
  padding-bottom: 0.6vw;
  /* transition: all ease 0.3s; */
}

#hero3 h1 {
  padding-bottom: 0.8vw;
}

.hero h2:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 100;
  border-bottom: 0.5vw solid #ffffff00;
}

#page2 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 27vh;
}

#video-container {
  height: 66vh;
  width: 71vw;
  position: relative;
  left: 27.5vw;
  background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
}

#video-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-cursor {
  background-color: #ffa63d;
  height: 8.5vw;
  width: 8.5vw;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 80%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#video-cursor i {
  font-size: 2.5vw;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(77, 74, 74);
  position: relative;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 6vh 0;
}

#page4-content {
  width: 72vw;
  margin-left: 28%;
  position: relative;
}

#page4-content h1 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
}

#page4-content h1::before {
  position: absolute;
  content: "03";
  font-family: "silk serif";
  font-size: 3.2vw;
  font-weight: 100;
  left: -10%;
  top: 8%;
}

#page4-content .underline {
  height: 0.1vh;
  width: 100%;
  background-color: #fff;
  margin: 4vw 0;
}

#page4-content > p {
  width: 50%;
  font-size: 2.36vw;
  margin-bottom: 4vw;
}

#page4-flex {
  display: flex;
  gap: 2vw;
}

#page4-flex img {
  width: 46%;
}

#page4-flex p {
  width: 28.2%;
  line-height: 1.5vw;
  font-size: 1.1vw;
}

#page4-blue-div {
  background-color: #3f7df4;
  width: 43vw;
  padding: 3vw;
  position: relative;
  top: -20vh;
  left: 23vw;
}

.blue-div-elem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8vw;
  padding: 2vw 0;
  border-bottom: 2px solid #ffffff8e;
}

.blue-div-elem h4 {
  /* background-color: #ffa63d; */
  font-size: 1.8vw;
  font-weight: 400;
  width: 42%;
}
.blue-div-elem p {
  width: 50%;
  font-size: 1.1vw;
  /* background-color: red; */
}

#page5 {
  min-height: 100vh;
  width: 100%;
  padding: 5vw 0;
  position: relative;
}

#page5 .elem {
  margin-bottom: -3vw;
  overflow-x: hidden;
  white-space: nowrap;
}

#page5 .elem h1 {
  font-size: 7.6vw;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 200;
  text-transform: uppercase;
  display: inline-block;
  /* background-color: red; */
  margin-right: 16px;
  animation-name: anime;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

#page5 .elem2 {
  margin-bottom: -3vw;
  overflow-x: hidden;
  white-space: nowrap;
}

#page5 .elem2 h1 {
  font-size: 7.6vw;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 200;
  text-transform: uppercase;
  display: inline-block;
  /* background-color: red; */
  margin-right: 16px;
  animation-name: anime;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

.elem span {
  font-style: italic;
  font-family: "silk serif";
  -webkit-text-stroke: 1px #fff;
  font-weight: 200;
  color: transparent;
}

.elem2 span {
  font-style: italic;
  font-family: "silk serif";
  -webkit-text-stroke: 1px #fff;
  font-weight: 200;
  color: transparent;
}

#footer {
  height: 86vh;
  width: 100%;
  /* background-color: red; */
  position: relative;
  padding-left: 28vw;
  padding-right: 4vw;
}

#footer h1 {
  font-size: 7.4vw;
  text-transform: uppercase;
  position: relative;
  /* background-color: blue; */
}

#footer h1::before {
  position: absolute;
  content: "04";
  font-family: "silk serif";
  font-size: 3.1vw;
  font-weight: 100;
  left: -11%;
  top: 8%;
}

#footer .underline {
  height: 1px;
  width: 100%;
  background-color: #ffffffb2;
  margin: 1.6vw 0;
}

#footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 11vw;
  padding-top: 2vw;
  margin-bottom: 4vw;
}

#footer-div h6 {
  font-size: 1.3vw;
  margin-bottom: 1.5vw;
  font-weight: 500;
}
.box {
  width: 21%;
}
#footer-div h5 {
  font-size: 1.8vw;
  font-weight: 500;
}

#footer > h5 {
  margin-top: 2.8vw;
  font-size: 1.2vw;
  font-weight: 400;
}
